.button {
  font-size: xx-large;
}
.descriptionSection {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  word-break: normal;
}

.description {
  display: flex;
  text-align: center;
  font-size: large;
}
.descriptionForm {
  width: 50%;
}

.cardActions {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.newItemSection {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 70%;
}
.itemForm {
  width: 30%;
  margin-left: 1%;
}
.sortSection {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  p {
    width: 7vw;
  }
}

.itemGrid {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
}

.item {
  min-width: 33%;
}

@media (min-width: 900px) {
  .itemGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .itemGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
