.wishlistForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-bottom: -3% ; //centers the text
    margin-left: 7%; //keeps form from overflowing on the left
}