<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>{{ item.title }}</mat-card-title>

    <img mat-card-md-image [src]="'data:image/png;base64,' + item.image" />
  </mat-card-title-group>
  <mat-card-content>
    <p>{{ item.description }}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <p>quantity:</p>
    <button
      mat-button
      (click)="decreaseQuantity()"
      color="primary"
      class="button">
      <mat-icon>remove</mat-icon>
    </button>
    <p>{{ item.quantity }}</p>
    <button
      mat-button
      (click)="increaseQuantity()"
      color="primary"
      class="button">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button (click)="openItemLink()" color="primary" class="button">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button (click)="toggleBought()" color="primary" class="button">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-button (click)="deleteItem()" color="primary" class="button">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
