<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title class="title">{{ item.title }}</mat-card-title>

    <img
      mat-card-md-image
      *ngIf="item.image"
      [src]="'data:image/png;base64,' + item.image"
      class="productImage" />
  </mat-card-title-group>
  <mat-card-content>
    <p class="description">{{ item.description }}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end" class="cardActions">
    <div class="cardActionsSection">
      <button
        mat-button
        (click)="decreaseQuantity()"
        color="primary"
        class="button"
        [disabled]="item.quantity < 2">
        <mat-icon>remove</mat-icon>
      </button>
      <p>{{ item.quantity }}</p>
      <button mat-button (click)="increaseQuantity()" color="primary" class="button">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="cardActionsSection">
      <button mat-button (click)="openItemLink()" color="primary" class="button">
        <mat-icon>launch</mat-icon>
      </button>
      <button mat-button (click)="toggleBought()" color="primary" class="button">
        <mat-icon *ngIf="!item.isBought">add_shopping_cart</mat-icon>
        <mat-icon *ngIf="item.isBought">remove_shopping_cart</mat-icon>
      </button>
      <button mat-button (click)="deleteItem()" color="accent" class="button">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
