.card {
  margin: 2%;
  min-width: 0;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.productImage {
  border: 2px solid gray;
  margin: 10px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardActions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardActionsSection {
  display: flex;
}
