<mat-toolbar color="primary" class="toolbar">
  <div class="toolbarLeftItems">
    <button mat-button (click)="toggleSidenav()" class="menuButton" color="primary">
      <mat-icon>menu</mat-icon>
    </button>
    <div [ngSwitch]="isEditing">
      <h1 *ngSwitchDefault>
        {{ wishlist ? wishlist.name : 'Empty around here' }}
      </h1>

      <!-- Wishlist Name Editor -->
      <wishlist-app-editing-form
        *ngSwitchCase="true"
        [defaultValue]="wishlist!.name"
        [maxLength]="20"
        label="Wishlist name"
        placeholder="Ex. Cool cat toys"
        (formChangeEvent)="getNewWishlistName($event)"
        (formEnterEvent)="saveNewWishlistName()"
        (blurEvent)="toggleEditing()"></wishlist-app-editing-form>
    </div>
  </div>
  <div>
    <div class="rightButtons" *ngIf="wishlist">
      <!-- Save button -->
      <button mat-button (click)="saveNewWishlistName()" class="topButton" *ngIf="isEditing">
        <mat-icon>save</mat-icon>
      </button>
      <!-- Edit/Cancel button -->
      <button mat-button (click)="toggleEditing()" class="topButton" [ngSwitch]="isEditing">
        <mat-icon *ngSwitchDefault>edit</mat-icon>
        <mat-icon *ngSwitchCase="true">cancel</mat-icon>
      </button>
      <!-- Share Button -->
      <button mat-button class="topButton" *ngIf="!isEditing" (click)="openExportDialog()">
        <mat-icon>archive</mat-icon>
      </button>
      <!-- Import Button -->
      <button mat-button class="topButton" *ngIf="!isEditing" (click)="openImportDialog()">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <!-- Delete button -->
      <button mat-button (click)="deleteWishlist()" class="topButton" *ngIf="!isEditing" color="accent">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
