.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 8vh;
  div button mat-icon {
    line-height: 0.8em;
  }
}

.topButton {
  margin-left: 5px;
  display: flex;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
}

.menuButton {
  @extend .topButton;
  border: 3px solid whitesmoke;
  border-style: outset;
  margin-right: 5%;
  background-color: white;
}

.menuButton:active {
  border-style: inset;
}

.toolbarLeftItems {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.rightButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.divider {
  height: 50px;
  margin: 2%;
}
