<div>
  <mat-sidenav-container fullscreen>
    <mat-sidenav #Sidenav mode="side" opened class="sideNav">
      <mat-card class="logo">
        <p>
          Probabi-List-ic<br />
          Purchases
        </p>
      </mat-card>

      <!-- New Wishlist Form -->
      <div class="wishlistForm">
        <mat-form-field appearance="outline" color="accent" floatLabel="always">
          <mat-label>Add Wishlist</mat-label>
          <input
            matInput
            placeholder="Ex. Birthday gifts"
            [formControl]="wishlistControl"
            required
          />
          <button
            *ngIf="wishlistControl.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="resetWishlistForm()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!-- New Wishlist Button -->
        <button
          mat-button
          [disabled]="wishlistControl.status === 'INVALID' ? true : false"
          (click)="createWishlist()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-selection-list
        #wishlistSelector
        [multiple]="false"
        (selectionChange)="onSelection($event, wishlistSelector)"
      >
        <mat-divider></mat-divider>

        <!-- Sidenav Wishlist List -->
        <mat-list-option
          *ngFor="
            let wishlist of wishlists;
            index as i;
            trackBy: wishlistTrackBy
          "
          [value]="wishlist.id"
        >
          <div class="wishlistName">{{ wishlist.name }}</div>
        </mat-list-option>

        <p>{{ selectedWishlistID }}</p>
      </mat-selection-list>
    </mat-sidenav>

    <!-- Wishlist Content -->
    <mat-sidenav-content>
      <wishlist-app-wishlist
        [parentSidenav]="Sidenav"
        [wishlistID]="selectedWishlistID"
      ></wishlist-app-wishlist>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
>
