<div>
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" opened class="sideNav">
      <mat-card class="logo">
        <p>
          Probabi-List-ic<br />
          Purchases
        </p>
      </mat-card>

      <!-- New Wishlist Form -->
      <div class="wishlistAssembly">
        <mat-form-field
          appearance="outline"
          color="primary"
          floatLabel="always"
          hintLabel="Max 20 characters"
          class="wishlistForm"
        >
          <mat-label>Add Wishlist</mat-label>
          <input
            matInput
            placeholder="Ex. Birthday gifts"
            [formControl]="wishlistControl"
            maxlength="20"
            #input
          />
          <mat-hint align="end">{{ input.value?.length || 0 }}/20</mat-hint>
          <button
            *ngIf="wishlistControl.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="resetWishlistForm()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-divider vertical class="formDivider"></mat-divider>

        <!-- New Wishlist Button -->
        <button
          mat-button
          [disabled]="wishlistControl.status === 'INVALID' ? true : false"
          (click)="createWishlist()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-selection-list
        #wishlistSelector
        [multiple]="false"
        (selectionChange)="onSelection($event)"
      >
        <mat-divider></mat-divider>

        <!-- Sidenav Wishlist List -->
        <mat-list-option
          *ngFor="let wishlist of wishlists; index as i"
          [value]="i"
        >
          <div class="wishlistName">{{ wishlist.name }}</div>
        </mat-list-option>

        <p>{{ selectedWishlist?.id }}</p>
      </mat-selection-list>
    </mat-sidenav>

    <!-- Wishlist Content -->
    <mat-sidenav-content>
      <wishlist-app-toolbar
        [wishlist]="selectedWishlist"
        [parentSidenav]="sidenav"
      ></wishlist-app-toolbar>
      <wishlist-app-wishlist
        [wishlist]="selectedWishlist"
      ></wishlist-app-wishlist>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
>
