
$sideNavRightPadding : 2%;
@font-face {
    font-family: logoFont;
    src: url('../../assets/fonts/Spring\ in\ May.ttf');
  }

.sideNav{
    display: flex;
    width: 20%;
    min-width: 350px;
    max-width: 70%;
    padding: 1%;
    justify-content: space-around;
    
}

.wishlistForm{
    width: 75%;
    

}
.wishlistAssembly{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: $sideNavRightPadding;
        
}

.wishlistName{
    overflow: auto;
}

.wishlistInput{
    width: 20vw;
}

.logo{
    margin-bottom: 5%;
    text-align: center;
    p{
        font-family: logoFont;
        line-height:100%;
        font-size: xx-large;
    }
}

.formDivider{
    height: 10vh;
}
