<h1 mat-dialog-title>Back up your wishlist</h1>
<div mat-dialog-content>
  <p>Import a wishlist by pasting it's code below or by uploading the backup</p>
  <mat-form-field class="code" appearance="fill">
    <textarea matInput #codeInput></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <input type="file" accept=".bkp" (change)="openFile($event)" />
  <button mat-button (click)="importFromCode(codeInput.value)" cdkFocusInitial>Import</button>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
<mat-spinner color="primary" style="position: fixed; bottom: 50%"></mat-spinner>
