<div class="wrapper">
  <mat-tab-group class="tabs">
    <mat-tab label="Log-in">
      <div class="loginDialog">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Log-In</mat-card-title>
          </mat-card-header>

          <form [formGroup]="loginForm" (submit)="login()">
            <mat-card-content>
              <p>{{ loginError }}</p>
              <mat-form-field class="full-width">
                <input formControlName="username" matInput placeholder="Username" />
              </mat-form-field>

              <mat-form-field class="full-width">
                <input
                  formControlName="password"
                  type="password"
                  matInput
                  placeholder="Password" />
              </mat-form-field>
            </mat-card-content>
            <div class="full-width align-right">
              <button mat-stroked-button color="accent">Log-in</button>
            </div>
          </form>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Register">
      <div class="loginDialog">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Register</mat-card-title>
          </mat-card-header>

          <form [formGroup]="registerForm" (submit)="register()">
            <mat-card-content>
              <p>{{ registerHint }}</p>
              <p>{{ registerError }}</p>
              <mat-form-field class="full-width">
                <input formControlName="username" matInput placeholder="Username" />
              </mat-form-field>

              <mat-form-field class="full-width">
                <input
                  formControlName="password"
                  type="password"
                  matInput
                  placeholder="Password" />
              </mat-form-field>
            </mat-card-content>

            <div class="full-width align-right">
              <button mat-stroked-button color="accent" type="submit">Register</button>
            </div>
          </form>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
